---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
SortIncludes: Never
SpaceBeforeParens: ControlStatements
...
